@import "node_modules/normalize.less/normalize.less";

@font_opensans: 'Open Sans', sans-serif;
@font_lato: 'Lato', sans-serif;
@font_gotham_400: 'Gotham Black', sans-serif;

@color_white: #ffffff;
@color_grey: #868686;
@color_grey2: #7b7b7b;
@color_yellow: #ffbb42;
@color_blue: #709dca;
@color_orange: #ffc155;
@color_black: #394b50;


a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.header {
    &-outer {
        background-color: @color_white;
    }

    &-menu {
        display: flex;
        align-items: center;

        &-logo {
            margin: 22px 0;
        }

        &-links {
            display: flex;
            justify-content: space-between;

            &-item {
                padding: 10px 15px;
                color: @color_grey;
                font-family: @font_lato;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;

                &:hover {
                    color: @color_white;
                    background-color: @color_yellow;
                    border-radius: 3px;
                }
            }
        }
    }
}

.banner {
    &-outer {
        background-color: @color_blue;
        padding-top: 110px;
    }

    &-caption {
        &-title {
            text-align: center;
            font-family: @font_gotham_400;
            font-size: 35px;
            letter-spacing: -0.88px;
            color: @color_white;
            text-transform: uppercase;
        }

        &-subtitle {
            text-align: center;
            color: @color_white;
            font-family: @font_opensans;
            font-size: 16px;
            font-weight: 300;
        }
    }

    &-form {
        &-inner {
            margin-top: 35px;
            padding-bottom: 350px;
            display: flex;
            justify-content: center;
        }
        
        &-item {
            display: flex;
            align-items: center;
            background-color: @color_white;
            border-radius: 3px;
            margin: 0 5px;
            padding: 15px;
            width: 25%;

            &:last-child {
                width: 15%;
                background-color: @color_yellow;
                justify-content: center;
                cursor: pointer;
            }
            
            &-input {
                border: none;
                margin-left: 15px;
                padding: 5px;
                color: #a9a9a9;
                font-family: @font_opensans;
                font-size: 13px;
                font-weight: 400;

                &::placeholder {
                    color: inherit;
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: inherit;    
                }
            }

            &-submit {
                color: @color_white;
                font-family: @font_opensans;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                border: none;
                background-color: @color_yellow;
                cursor: pointer;
            }
        }
    }
}

.banner2 {
    &-outer {
        background-color: @color_white;
    }

    &-carousel {
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 70px;
        
        &-mac {
            position: absolute;
            top: -290px;
        }

        &-slide {
            position: absolute;
            top: -272px;
        }
    }

    &-controls {
        display: flex;
        justify-content: center;
        padding-bottom: 105px;
        
        &-button {
            width: 11px;
            height: 11px;
            margin: 5px;
            border: 2px solid #dedfe0;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.caption {
    &-title {
        text-align: center;
        font-family: @font_gotham_400;
        font-size: 35px;
        letter-spacing: -0.88px;
        color: @color_black;
        text-transform: uppercase;
    }

    &-subtitle {
        text-align: center;
        color: @color_black;
        font-family: @font_opensans;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 15px;
    }
}

.service {
    &-outer {
        background-color: @color_white;
    }

    &-block {
        display: flex;
        align-items: flex-start;
        margin-top: 80px;

        &:last-child {
            margin-bottom: 155px;
        }

        &-text {
            margin-left: 40px;

            &-title {
                color: @color_black;
                font-family: @font_lato;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            &-subtitle {
                color: @color_grey2;
                font-family: @font_opensans;
                font-size: 13px;
                font-weight: 400;
                line-height: 22px;
            }
        }
    }
}

.about {
    &-outer {
        background-color: @color_orange;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-title {
            color: @color_white;
            font-family: @font_gotham_400;
            font-size: 30px;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            margin-left: 80px;
        }

        &-subtitle {
            color: @color_white;
            font-family: @font_opensans;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 30px;
            margin-bottom: 35px;
            margin-left: 80px;
            width: 80%;
        }

        &-button {
            margin-left: 80px;
            border: 1px solid #e7ad48;
            padding: 18px 33px;
            color: @color_white;
            font-family: @font_lato;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

.price {
    &-outer {
        background-color: #e7edf3;
        padding-top: 140px;
    }

    &-item {
        margin-top: 50px;
        margin-bottom: 165px;
        height: 500px;
        background-color: @color_white;
        display: flex;
        align-items: center;
        justify-content: center;

        &-inner {
            height: 88%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            margin-top: 55px;
            color: #818b95;
            font-family: @font_lato;
            font-size: 25px;
            font-weight: 300;
            line-height: 22px;
            text-transform: uppercase;
        }

        &-number {
            color: @color_yellow;
            font-family: @font_lato;
            font-size: 60px;
            font-weight: 700;            
            line-height: 1;
            text-transform: uppercase;
            margin-top: 30px;

            sup {
                font-size: 35px;
            }
        }

        &-subtitle {
            color: #818b95;
            font-family: @font_lato;
            font-size: 20px;
            font-weight: 300;
            line-height: 22px;
            font-variant: small-caps;
            margin-bottom: 35px;
        }

        &-condition {
            border-top: 1px solid #e2e9f0;
            color: #b5bbc1;
            font-family: @font_lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 40px;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
        }

        &-button {
            margin-top: 30px;
            padding: 16px 21px;
            background-color: @color_yellow;
            color: @color_white;
            font-family: @font_lato;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

.work {
    text-align: center;
    height: 100%;

    &-outer {
        background-color: @color_white;
        margin-top: 155px;
        margin-bottom: 150px;
    }

    &-step {
        position: relative;
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-arrow {
            position: absolute;
            top: -50px;
            right: -64px;
        }

        &-title {
            margin-top: 100px;
            margin-bottom: 30px;
            color: @color_black;
            font-family: @font_lato;
            font-size: 20px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
        }

        &-subtitle {
            color: @color_grey2;
            font-family: @font_opensans;
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 90px;
        }        
    }

    &-button {
        &-link {
            color: @color_white;
            font-family: @font_lato;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 19px 28px;
            background-color: @color_yellow;
        }
    }
}

.clients {
    &-outer {
        background-color: @color_orange;
    }

    &-caption {        
        &-title {
            text-align: center;
            font-family: @font_gotham_400;
            font-size: 30px;
            letter-spacing: -0.88px;
            color: @color_white;
            text-transform: uppercase;
            margin-top: 140px;
        }

        &-subtitle {
            text-align: center;
            color: @color_white;
            font-family: @font_opensans;
            font-size: 16px;
            font-weight: 300;
        }
    }

    &-block {
        margin-top: 60px;

        &:last-child {
            margin-bottom: 160px;
        }
        
        
        &-inner {
            background-color: @color_white;
            border-radius: 3px;
            padding: 30px;
            display: flex;
            align-items: flex-start;
        }

        &-text {
            margin-left: 30px;

            &-comment {
                color: @color_grey2;
                font-family: @font_opensans;
                font-size: 13px;
                font-weight: 400;
                line-height: 22px;
            }

            &-autor {
                display: flex;
                margin-top: 30px;

                &-name {
                    font-family: @font_lato;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #f6772c;
                }

                &-position {                    
                    margin-left: 2px;
                    color: #99a9ae;
                    font-family: @font_lato;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.newsletter {
    &-outer {
        background-color: @color_white;
        margin-top: 155px;
    }

    &-form {
        &-inner {
            margin-top: 35px;
            margin-bottom: 55px;
            display: flex;
            justify-content: center;
        }
        
        &-item {
            display: flex;
            align-items: center;
            background-color: @color_white;
            border-radius: 3px;
            margin: 0 5px;
            padding: 15px;
            width: 30%;
            border: 1px solid #cbcbcb;

            &:last-child {
                background-color: @color_orange;
                justify-content: center;
                border: none;
                cursor: pointer;
            }
            
            &-input {
                border: none;
                margin-left: 15px;
                padding: 5px;
                color: #a9a9a9;
                font-family: @font_opensans;
                font-size: 13px;
                font-weight: 400;

                &::placeholder {
                    color: inherit;
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: inherit;    
                }
            }

            &-submit {
                color: @color_white;
                font-family: @font_opensans;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                border: none;
                background-color: @color_orange;
                cursor: pointer;
            }
        }
    }
}

@font-face {
    font-family: 'Gotham Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Black'), url('../fonts/GothamBlackRegular.woff') format('woff');
}